
.boton {
  width: 100%;
  display: flex;
  justify-content: center;
}

.boton .boton1 {
  width: 20%;
  height: 50px;
  border: none;
  background-color: #3498db;
  color: #ffffff;
  font-size: 35px;
  border-radius: 5px;
  transition: 0.5s;
}

.boton .boton1:hover {
  background-color: rgb(255, 255, 255);
  transition: 0.5s;
  color: black;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 1);
  transform: translateY(-3px);
}

.show .boton2 {
  width: 20%;
  height: 50px;
  border: none;
  background-color: #3498db;
  color: #ffffff;
  font-size: 35px;
  border-radius: 5px;
  transition: 0.5s;
  margin: 8rem;
}

.show .boton2:hover {
  background-color: rgb(255, 255, 255);
  transition: 0.5s;
  color: black;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 1);
  transform: translateY(-3px);
}



.boton .boton2 {
  width: 20%;
  height: 50px;
  border: none;
  background-color: #000000;
  color: #ffffff;
  font-size: 35px;
  border-radius: 5px;
  transition: 0.5s;
  margin-top: 4rem;
}

.boton .boton2:hover {
  background-color: white;
  transition: 0.5s;
  color: black;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 1);
  transform: translateY(-3px);
}


.menu {
  display: none;
  position: fixed;
  z-index: 1000;
  text-align: center;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  
  transition: opacity 0.3s ease, transform 0.3s ease; /* Agregando transición para la opacidad y transform */

}

.menu h1 {
  margin-bottom: 3rem;
}

.menu.show {
  display: block;
  background-color: rgba(17, 17, 17, 1);
  width: 70%;
  height: 70%;
  padding: 20px;
  color: white;
  border-radius: 10px;
  font-size: 50px;
  opacity: 1;
  transition: opacity 0.3s ease, transform 0.3s ease; /* Transiciones adicionales al abrir */
  transform: translate(-50%, -50%);
}


.menu2 {
  display: none;
  position: fixed;
  z-index: 1000;
  text-align: center;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  
  transition: opacity 0.3s ease, transform 0.3s ease; /* Agregando transición para la opacidad y transform */

}

.menu2 h1 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.menu2.show {
  display: block;
  background-color: rgba(17, 17, 17, 1);
  width: 70%;
  height: 70%;
  padding: 20px;
  color: white;
  border-radius: 10px;
  opacity: 1;
  transition: opacity 0.3s ease, transform 0.3s ease; /* Transiciones adicionales al abrir */
  transform: translate(-50%, -50%);
}
.menu2 h2 {
  font-size: 50px;
}
.file-container {
  width: 90%;
  height: 350px;
  margin: 50px auto 100px auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #34429b;
  box-shadow: 0px 0px 50px 5px rgba(2, 3, 7, 0.96);
  border-radius: 10px;
}
.file {
  border: 2px solid #010101;
  border-radius: .5rem;
  min-width: 200px;
  color: #e1e1e1;
  padding: 10px;
  margin-bottom: 20px;
}
.file-title {
  font-size: 2rem;
}
.file-content {
  font-size: 1rem;
}

.form-label {
  display: block;
  font-size: 30px;
  margin-top: 3rem;
}

.form-control {
  padding: 2rem 7rem 2rem 7rem;
  border-radius: 10px;
}

.menu h1 {
  margin-top: 1rem;
  width: 100%;
  font-size: larger;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    color:black;
    background-color: white;
    font-size: 30px;
    cursor: pointer;
    width: 40px; 
    height: 40px;
    border-radius: 50%;
  }

  
  @media (max-width: 600px) {
    .titulo {
      width: 50%;
      display: flex;
      margin: auto;
      margin-bottom: 0;
      justify-content: center;
      margin-top: 6rem;
      background-color: white;
      border-radius: 10px;
    }
  
    .titulo img {
      width: 181px;
      height: 60px;
    }
  
    .boton {
      width: 100%;
      display: flex;
      justify-content: center;
    }
  
    .boton .boton1 {
      margin-top: 5rem;
      width: 50%;
      height: 50px;
      border: none;
      background-color: #3498db;
      color: #ffffff;
      font-size: 16px;
      border-radius: 5px;
      transition: 0.5s;
    }
  
    .menu .boton2 {
      margin:7rem auto 0 auto;
      width: 50%;
      height: 50px;
  
      background-color: #3498db;
      color: #ffffff;
      font-size: 16px;
      border-radius: 5px;
      transition: 0.5s;
    }
  
    .menu.show{
      height: 80%;
    }
  
    .menu h2 {
      margin-top: 4rem;
      font-size:40px;
      width: 100%;
    }
    .menu  h3 {
      margin-top: 5rem;
      font-size:25px;
      width: 100%;
    }
    .form-label {
      display: block;
      font-size: small;
      margin-top: 3rem;
    }
    
    .form-control {
      margin-bottom: 0;
      padding: 10px 4px 10px 4px;
      border-radius: 10px;
      margin-top: 0;
    }
    .close-btn {
     
      font-size: 25px;
      background-color: white;
      color: black;
      border-radius: 20px;
  
    }
  
  
    .btn-primary {
      width: 80%;
      height: 59px;
      border: none;
      background-color: #3498db;
      color: #ffffff;
      font-size: 25px;
      border-radius: 5px;
      margin-top: 5rem;
      transition: 0.5s;
    }
  
  
    .file-container {
      width: 90%;
      max-height: 200px;
      margin: 80px auto 100px auto;
      padding: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: #34429b;
      box-shadow: 0px 0px 50px 5px rgba(2, 3, 7, 0.96);
      border-radius: 10px;
    }
    
  }