
.pb{
  display: flex;
  align-items: center;
  justify-Content: space-between ;
  width:90%;
  margin: auto;
}

.pb button{
  float:right;
}

.title-container {
  width: 45%;
  text-align: center;
  justify-content: center;
  display: flex;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  float: left;
  margin: 20px 0px 0px 0px;
}

.title-container img {
  width: 190px;
  height: 60px;
}

.button-add {
  width: 60px;
  height: 60px;
  border: none;
  background-color: #3498db;
  color: #ffffff;
  font-size: 25px;
  border-radius: 50%;
  transition: 0.5s;
  cursor: pointer;
  margin: 20px 0px 0px 0px;
  transition: transform 0.3s ease;
}




.modal-add .button-save {
  margin:7rem auto 0 auto;
  width: 50%;
  height: 50px;
  background-color: #3498db;
  color: #ffffff;
  font-size: 16px;
  border-radius: 5px;
  transition: 0.5s;
}

.modal-add.show{
  height: 80%;
}

.modal-add h2 {
  margin-top: 2rem;
  margin-bottom: 0rem;
  padding-bottom: .5rem;
  font-size:2rem;
  width: 100%;
  border-bottom: 1px solid rgb(31, 31, 31);
}

.modal-add  h3 {
  margin-top: 3rem;
  margin-bottom: 2rem;
  font-size:2rem;
  width: 100%;
}

.input-file {
  width: 90%;
  padding: 10px 0;
  position: relative;
  font-size: 1.5rem;
  cursor: pointer;
}
.input-file::before {
  background-color: #5678EF;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  content: "Select File";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}



.btn-primary {
  width: 80%;
  height: 59px;
  border: none;
  background-color: #3498db;
  color: #ffffff;
  font-size: 25px;
  border-radius: 5px;
  margin-top: 5rem;
  transition: 0.5s;
}

#boton2{
  display: none;
}

.button-add:hover {
  background-color: rgb(255, 255, 255);
  transition: transform 0.3s ease;
  color: black;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 1);
  transform: rotate(45deg)
}


.show .button-save {
  width: 20%;
  height: 50px;
  border: none;
  background-color: #3498db;
  color: #ffffff;
  font-size: 35px;
  border-radius: 5px;
  transition: 0.5s;
  margin: 8rem;
}

.show .button-save:hover {
  background-color: rgb(255, 255, 255);
  transition: 0.5s;
  color: black;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 1);
  transform: translateY(-3px);
}



.button-save {
  width: 20%;
  height: 50px;
  border: none;
  background-color: #000000;
  color: #ffffff;
  font-size: 35px;
  border-radius: 5px;
  transition: 0.5s;
  margin-top: 4rem;
}

.button-save:hover {
  background-color: white;
  transition: 0.5s;
  color: black;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 1);
  transform: translateY(-3px);
}


.modal-add {
  display: none;
  position: fixed;
  z-index: 1000;
  text-align: center;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  
  transition: opacity 0.3s ease, transform 0.3s ease; /* Agregando transición para la opacidad y transform */

}

.modal-add h2 {
  margin-bottom: 3rem;
}

.modal-add.show {
  display: block;
  background-color: rgba(17, 17, 17, 1);
  width: 70%;
  height: 70%;
  padding: 20px;
  color: white;
  border-radius: 10px;
  font-size: 50px;
  opacity: 1;
  transition: opacity 0.3s ease, transform 0.3s ease; /* Transiciones adicionales al abrir */
  transform: translate(-50%, -50%);
}


.file-container {
  width: 90%;
  min-height: 400px;
  margin: 60px auto 50px auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #34429b;
  box-shadow: 0px 0px 50px 5px rgba(2, 3, 7, 0.96);
  border-radius: 10px;
}



.file-item {
  display: flex;
  justify-content: space-between;
  align-items: start;
  border: 2px solid #010101;
  border-radius: .5rem;
  min-width: 200px;
  max-width: 100%;
  height: min-content;
  color: #e1e1e1;
  padding: 10px;
  margin:10px auto 20px auto;
}
.file-item-text-title {
  font-size: 2rem;
}
.file-item-text-content {
  font-size: 1rem;
  overflow-wrap: break-word;
}

.file-item-icons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-width: 40px;
  margin: 0px 0rem 0px 1.5rem;
}
.file-item-icons .tash, .file-item-icons .download {
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 40px;
  height: 40px;
 
  justify-content: center;
  color: white;
  border-radius: 50%;
  font-size: 1.7rem;
}


.button-close {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    color:rgb(255, 255, 255);
    font-size: 35px;
    cursor: pointer;
  }

  @media (min-width:700px) {
    #boton2{
      display: flex;
      margin: 0px 20px 0px 0px;
      justify-content: center;
      align-items: center;
      width: 70px;
      height: 70px;
      border: none;
      background-color: #3498db;
      color: #ffffff;
      font-size: 25px;
      border-radius: 50%;
      transition: 0.5s;
      cursor: pointer;
      right: 2px;
    }

    #boton2:hover{
      color: #000000;
      background-color: white;
      transition: 1s;
      transform: rotate(45deg);
      
    }

    #boton2:active{
      color: #000000;
      background-color: white;
      transition: 1s;
      transform: rotate(45deg);
      
    }


    .container-up-box{
      width: 100%;
      height: 100px;
      display: flex;
      align-items: center;
    }

    .button-container{
      width: 25%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: right;
    }

    .container-paged{
      width: 75%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: left;
    }

    #boton1{
      display: none;
    }


    .button-add:hover{
      transform: rotate(45deg);
    }

    .button-add:active {
      transform: rotate(45deg);
    }

    .title-container {
      width:180px;
      margin:4rem auto 0rem auto;
      justify-content: center;
      display: flex;
      background-color: rgba(255, 255, 255, 0.9);
      border-radius: 10px;

    }
    
    .title-container img {
      width: 181px;
      height: 60px;
    }
    
    
.pb{
  display:flex;
  text-align: center;
  justify-content: center;
  }


  .modal-add h2 {
    margin-top: 2rem;
    margin-bottom: 0rem;
    padding-bottom: .5rem;
    font-size:3rem;
    width: 100%;
    border-bottom: 1px solid rgb(31, 31, 31);
  }


}