* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

body,
html {
  height: 100%;
}

.App {
  display: flex;
  min-height: 100vh;
  height: 100%;
  background: linear-gradient(to bottom, #161c38, #34429b);
  flex-direction: column;
  min-width: 100vw;
  width: 100%;
}

.titulo {
  display: flex;
  width: 20%;
  margin: 10rem auto 100px auto;
  justify-content: center;
  background-color: white;
  border-radius: 10px
}




